<h1>Create Task</h1>
<form method="post" action="/tasks">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="item">New Item:</label>
  <input type="text" name="item">
  <br>
  <label for="due_date">Due Date:</label>
  <input type="date" name="due_date">
  <br>
  <input type="submit">
</form>
